{% load static %}

<script src="{% static 'tour/js/jquery.js' %}"></script>
<script src="{% static 'tour/js/bootstrap.min.js' %}"></script>
<script src="{% static 'tour/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'tour/js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'tour/js/isotope.js' %}"></script>
<script src="{% static 'tour/js/imagesloaded.min.js' %}"></script>
<script src="{% static 'tour/js/nivo-lightbox.min.js' %}"></script>
<script src="{% static 'tour/js/jquery.parallax.js' %}"></script>
<script src="{% static 'tour/js/smoothscroll.js' %}"></script>
<script src="{% static 'tour/js/wow.min.js' %}"></script>
<script src="{% static 'tour/js/core.js' %}"></script>