{% load static %}
{% load tour_tags %}

{% get_tours as tours %}

<section id="location" class="parallax">
    <div class="container">
        <div class="row">

            <div class="title">
                <div class="wow fadeInUp section-title" data-wow-delay="1s">
                    <h2>Доступные локации <small>Путешествия лишают тебя дара речи, а потом превращают в лучшего рассказчика</small></h2>
                </div>
            </div>

            <div class="div-tour-cards">
                {% for tour in tours %}
                <div class="card" style="width: 18rem;">
                <div class="img">
                    <img src="{{ tour.main_image.url }}" class="img-responsive" alt="Food Menu">
                </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ tour.name }}</h5>
                    <p class="card-text">{{ tour.description | truncatechars:100 }}</p>
                    <a href="{% url 'info' tour.slug %}" class="btn btn-primary">Узнать больше</a>
                  </div>
                </div>
                {% endfor %}
<!--                {% for tour in tours %}-->
<!--                <div class="tour-card media wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">-->
<!--                  <div class="media-object pull-left">-->
<!--                    <img src="{{ tour.main_image.url }}" class="img-responsive" alt="Food Menu">-->
<!--                  </div>-->
<!--                  <div class="media-body">-->
<!--                    <h3 class="media-heading">{{ tour.name }}</h3>-->
<!--                    <p>{{ tour.description | truncatechars:100 }}</p>-->
<!--                      <a href="{% url 'info' tour.slug %}" class="btn btn-capsul btn-transparent-prime">Узнать больше</a>-->
<!--                  </div>-->
<!--                </div>-->
<!--                {% endfor %}-->

            </div>
        </div>
    </div>
</section>