{% extends 'base.html' %}
{% load static %}

{% block main %}

{% include 'tour/components/_about_poster.html' %}

<section id="todo" class="parallax">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 text-center">
                <div class="wow fadeInUp section-title" data-wow-delay="0.6s">
                    <h2>Наши приоритеты<small>Ознакомьтесь ниже</small></h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="feature-thumb">
                    <div class="feature-icon">
                        <span><i class="fa-solid fa-user-group"></i></span>
                    </div>
                    <h3>+1000 клиентов</h3>
                    <p>Именно нам доверяет большинство туристов нашего города. За долгие годы работы мы получили массу положительных отзывов от наших довольных клиентов об уровне обслуживания</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="feature-thumb">
                    <div class="feature-icon">
                        <span><i class="fa-solid fa-headset"></i></span>
                    </div>
                    <h3>24 часовая поддержка</h3>
                    <p>Поможем решить самые сложные проблемы 24 часа в сутки</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
                <div class="feature-thumb">
                    <div class="feature-icon">
                        <span><i class="fa-solid fa-location-dot"></i></span>
                    </div>
                    <h3>+ 575 локаций</h3>
                    <p>Подберем любой тур под Ваш бюджет и интересы</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="feature-thumb">
                    <div class="feature-icon">
                        <span><i class="fa-solid fa-handshake-angle"></i></span>
                    </div>
                    <h3>Помощь прямой линией</h3>
                    <p>Поможем решить самые сложные проблемы</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="feature-thumb">
                    <div class="feature-icon">
                        <span><i class="fa-solid fa-shield"></i></span>
                    </div>
                    <h3>Безопасные платежи</h3>
                    <p>Экономия финансов. С нами отдых обойдется значительно дешевле: раннее бронирование туров в нашей турфирме в Ташкенте и появление "горящих путевок" поможет избежать лишних затрат</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
                <div class="feature-thumb">
                    <div class="feature-icon">
                        <span><i class="fa-solid fa-comments"></i></span>
                    </div>
                    <h3>Поддержка через чат</h3>
                    <p>Ежедневно наша служба поддержки общается с клиентами через комментарии</p>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="additionalSection">
    <div class="container">
        <div class="row">

            <div class="">
                <div class="wow fadeInUp section-title" data-wow-delay="0.6s">
                    <h2>О BVTOURISM<small>Коротко о нас</small></h2>
                </div>
            </div>


            <div class="" data-wow-delay="0.3s">
                <div class="feature-thumb">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="feature-icon">
                                <span><img class="img-responsive" src="https://avia-mir.ru/wp-content/uploads/2019/03/jordan.jpg
" alt="Small Image"/></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h3>Наше происхождение и история</h3>
                            <p>Отправились на заслуженный отпуск и хотите провести его как можно лучше? Наше турагентство в Ташкенте поможет организовать отдых любого плана: от насыщенного и спортивного уикенда до длительного пляжного отдыха. Спланируем поездку с учётом Вашего бюджета и индивидуальных потребностей. Работники нашей турфирмы в Ташкенте имеют огромный опыт, поэтому оперативно и качественно обслуживают клиентов, и оказывают квалифицированную помощь в выборе путевки. Сотрудничаем с лучшими отелями туристическими организациями в разных странах мира. С нами путешествовать легко, приятно и недорого!</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--{% include 'tour/components/_about_section.html' %}-->

{% endblock main %}


